/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('imagenes/camisa_3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Contenedor principal */
.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Títulos */
h1 {
    margin-bottom: 20px;
    color: #202020;
    background-color: #35dcd4;
    padding: 10px;
    border-radius: 4px;
    font-size: 24px;
}

h2 {
    margin-bottom: 15px;
    color: #801e00;
    background-color: #00ff0d;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
}

/* Etiquetas */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Campos de entrada */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
    background-color: #f9f9f9;
}

textarea {
    height: 80px;
}

/* Botón de envío */
button {
    padding: 12px 18px;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

/* Mensaje de confirmación */
#confirmation-message {
    margin-top: 15px;
    color: #28a745;
    font-size: 14px;
    font-weight: bold;
    display: none;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    h1,
    h2 {
        font-size: 18px;
    }
}
