<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones</title>
    <link rel="stylesheet" href="/style_opciones.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido</h1>
        <h2>Seleccione una opción</h2>
        
        <div class="options">
            <!-- Botón para ir al formulario de Registro -->
            <form action="/formulario" method="GET">
                <button type="submit" class="button">Formulario de Registro</button>
            </form>
            
            <!-- Botón para ir al formulario de Cálculo -->
            <form action="/index" method="GET">
                <button type="submit" class="button">Formulario de Cálculo</button>
            </form>
        </div>
    </div>
</body>
</html>
